# Negeer PyInstaller bouwmappen
build/
dist/
*.spec

# Negeer Python cache & test artifacts
__pycache__/
.pytest_cache/
.coverage
htmlcov/

# Negeer systeem bestanden
.DS_Store

# Negeer virtuele omgevingen
.venv/
venv/
env/