# Negeer PyInstaller bouwmappen
build/
dist/
*.spec

# Lokale test/build output
.pytest_cache/
coverage.xml
htmlcov/

# Negeer gegenereerde DMG en SparseBundle bestanden/installers
*.dmg
*.sparsebundle

# Negeer Python cache & test artifacts
__pycache__/
.pytest_cache/
.coverage
htmlcov/

# Negeer systeem bestanden
.DS_Store

# Negeer virtuele omgevingen
.venv/
venv/
env/